:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 700px) {
    #imgSection {
        display: flex;
        flex-direction: row;
        gap: 5rem;

        align-items: center;
        justify-content: center;
    }
}
